body{
    margin: 0;
    padding: 0;
}
.card{
    background-color: burlywood;
    color: antiquewhite;
    font-size: 25px;
    text-align: center;
    width: 300px;
    margin: 10px;
    box-shadow: 0 0 8px black;
}
.delete-btn {
    background-color:tomato;
    color: antiquewhite;
    padding: 8px;
    border: none;
    border-radius: 5px;
}